.backBtn {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    padding: 10px;
    opacity: 0.8;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 0 5px rgba(0, 0, 0, 0.5);
}

.backBtn i {
    font-size: 20px;
}

.btnCancel {
    opacity: 0.8;
}

.calendarBtn {
    margin-left: 10px;
    /* margin-bottom: 20px; */

}

.calendarBtn:hover {
    cursor: pointer;
    scale: 1.2;
}

.apoitments-empty {
    gap: 20px;
}

.apoitments-empty i {
    padding: 10px;
    /* background-color: white; */
}

.calendar-icon {
    font-size: 80px;
    margin-bottom: -10px;
}

.calendar-wrapper {
    position: relative;
    cursor: pointer;
}

.calendar-wrapper:hover {
    /* transition: 0.3s; */
    border: 5px solid rgba(166, 126, 230, 0.2);
    border-radius: 10px;

}

.calendar-wrapper:active {
    transition: 0.3s;
    border: none;
    outline: 5px solid rgba(166, 126, 230, 0.2);
}

.date-wrapper {
    font-family: 'Segoe Script', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 24px;
    font-weight: bold;
    position: absolute;
    top: 35%;
    left: 28%;
    line-height: 1;
}

.date-wrapper .date-day {
    font-size: 42px;
}

.date-wrapper .date-month {
    font-size: 28px;
    /* margin-bottom: 30px; */
}

.date-wrapper .date-hour {
    font-size: 22px;
    transform: translateY(10px);

}

.more-info-btn {
    font-size: 12px;
}

.profile-image-wrapper {
    display: flex;
    justify-self: center;
    align-items: center;
    width: 220px;
    height: 220px;
    outline: 5px solid lightgray;
    border: 2px solid white;
    /* outline: 1px groove indigo; */
    border-radius: 50%;
    overflow: hidden;

}




.profile-image-wrapper img {
    display: block;
    max-width: 100%;
    height: auto;
    object-fit: cover;
    scale: 1.3;

}

.form-control-plaintext {

    padding-left: 10px;
    pointer-events: none;
    text-align: right;
    display: inline;
    width: 60%;
    overflow: scroll;
    font-weight: 600;
    /* border: 1px solid black; */
    /* margin-left: -20px; */
}

.user-form-input {

    padding-left: 10px;
    pointer-events: all;
    text-align: right;
    display: inline;
    overflow: scroll;
    width: 100%;
    font-weight: 600;
    /* border: 1px solid black; */
    /* margin-left: -20px; */
}

.form-side {
    gap: 10px;
}


.form-label {
    text-align: left;
    display: inline;
    /* border: 1px solid black; */
    font-style: italic;
}

.input-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border: 1px solid black; */
    border-bottom: 1px solid black;
}


.file-upload {
    position: relative;
    display: inline-block;
}

.file-input {
    width: 1px;
    height: 1px;
    opacity: 0;
    position: absolute;
    z-index: -1;
}

.file-label {
    display: inline-block;
    padding: 1px 15px;
    background-color: #007bff;
    color: white;
    border-inline: 2px solid white;
    border-radius: 50px;
    font-size: 30px;
    cursor: pointer;
    transform: translateY(-20px);
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
}

.file-label:hover {
    background-color: #0056b3;
    transition: 0.5s;
    scale: 1.1;
}

.file-label:active {
    background-color: #0056b3;
    transition: 0.5s;
    scale: 1.0;
}

/* .file-name {
    margin-left: 10px;
    font-family: Arial, sans-serif;
    font-size: 14px;
} */

.sub-menu-wrapper {
    /* border: 1px solid black; */
    display: flex;
    align-content: center;
    justify-content: flex-start;
}

.sub-menu {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
    margin-left: -30px;
    /* width: 100%; */
    height: auto;
    list-style: none;
    /* border: 1px solid black; */
}

.sub-menu li {
    cursor: pointer;

    font-weight: 500;
    /* border: 2px solid lightblue; */
    padding: 0 10px 0 10px;
    outline: 1px solid rgb(193, 193, 240);
    box-shadow: 0px 2px 2px 3px rgba(0, 0, 0, 0.1);
    border-radius: 0;
}

.sub-menu li:hover {
    transition: 0.3s;
    background-color: rgba(51, 51, 248, 0.7) !important;
    /* background-color: rgb(84, 184, 247) !important; */
    /* outline: 2px rgb(202, 177, 243) solid; */
    color: white;
    scale: 1 !important;
}

.selected {
    transition: 0.3s;
    background-color: rgba(51, 51, 248, 0.7) !important;
    outline: 2px white solid;
    color: white;
}

.sub-menu li:active {
    transition: 0.3s;
    scale: 0.9;
}

.editBtn:hover {
    background-color: rgb(66, 63, 226) !important;
    transition: 0.5s;
    scale: 1.1;
}

.editBtn:active {
    transition: 0.5s;
    scale: 1;
}

.wrapper {
    gap: 15px;
}

.messages-container {
    list-style: none;
    padding: 0;
    margin-top: 2px
}

.messages-container li {
    display: flex;
    align-items: center;
    align-content: center;
    height: 60px;
    padding: 0;
    margin: 0;
    font-weight: bold;
    font-size: 15px;
    background-color: #FFDEE9;
    background-image: linear-gradient(0deg, #FFDEE9 0%, #def5f5 9%, #ffffff 80%);
}

.favorites-container {
    gap: 20px;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 50px;
}

.unlikeBtn {
    /* position: absolute; */
    transform: translateX(270px);
    /* border: 1px solid black; */
    position: relative;
    width: 2px;
    height: 2px;
    color: rgba(92, 4, 255, 0.7);
    /* z-index: 10000; */
}

.unlikeBtn:hover {
    scale: 1 !important;
}

.unlikeBtn:focus,
.unlikeBtn:active {
    scale: 1 !important;
    border: none !important;
    outline: none !important;
    box-shadow: none;
}

