.top-profile-picture {
    width: 40px;
    height: 40px;
    display: inline-block;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 40px;
}

.top-profile-picture img {
    width: 100%;
    height: auto;
    border-radius: 50%;
    object-fit: cover;
}

