.modal-content {
    width: 650px;
    height: 850px;

}

/* Header section with-form (message and comments)*/

.message-section.modal-header.with-form,
.comments-section.modal-header.with-form {
    width: auto;
    height: 250px;
    display: flex;
    padding: 30px;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
    border-bottom: none;
    margin-bottom: 71px;
}


.message-section.modal-header.with-form .image-section,
.comments-section.modal-header.with-form .image-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.message-section.modal-header.with-form .image-section .person-name,
.comments-section.modal-header.with-form .image-section .person-name {
    width: auto;
    flex-grow: 1;
    font-size: 16px;
    font-weight: bold;
    margin: 0;
    margin-top: 20px;
    text-align: center;

}

.message-section.modal-header.with-form .image-section .person-department,
.comments-section.modal-header.with-form .image-section .person-department {
    font-size: 14px;
    font-weight: bold;
    margin: 0;
    margin-top: 10px;
    text-align: center;

}

.message-section.modal-header.with-form .image-wrapper,
.comments-section.modal-header.with-form .image-wrapper {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    overflow: hidden;
    border: 1px white solid;
    outline: 6px rgba(0, 0, 0, 0.3) solid;
}

.message-section.modal-header.with-form .image-wrapper img,
.comments-section.modal-header.with-form .image-wrapper img {
    width: 120px;
    height: auto;
    object-fit: cover;
    overflow: hidden;
    /* border: 3px white solid; */

}

.message-section.modal-header.with-form .nav-link,
.comments-section.modal-header.with-form .nav-link {
    font-size: 16px;
}

.message-section.modal-header.with-form .close-modal,
.comments-section.modal-header.with-form .close-modal {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between;
    align-content: space-between; */
}

.message-section.modal-header.with-form .close-modal .btn-close,
.comments-section.modal-header.with-form .close-modal .btn-close {
    margin-left: -1px;
}

.message-section.modal-header.with-form .add-to-favorities,
.comments-section.modal-header.with-form .add-to-favorities {
    margin-top: 10px;
    font-size: 12px;
}





/* Header section no-form*/

.modal-header.no-form .modal-container {
    width: 600px;
    height: 250px;
    display: flex;
    padding: 30px;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    border-bottom: none;
    margin-bottom: 30px;
}


.modal-header.no-form .image-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.modal-header.no-form .person-name-wrapper {
    display: flex;
    flex-direction: column;

    /* justify-content: space-between; */
    /* align-content: space-between; */
}


.modal-header.no-form .person-name-wrapper .person-name {
    width: auto;
    flex-grow: 1;
    font-size: 32px;
    font-weight: 600;
    margin: 0;
    margin-top: 80px;
    text-align: center;
    color: black;
}

.modal-header.no-form .person-name-wrapper button {
    font-size: 16px;
}

.modal-header.no-form .person-name-wrapper .person-department {
    font-size: 22px;
    font-weight: bold;
    margin: 0;
    margin-top: 10px;
    text-align: center;

}

.modal-header.no-form .image-wrapper {
    width: 220px;
    height: 220px;
    margin-top: 30px;
    border-radius: 50%;
    overflow: hidden;
    border: 1px white solid;
    outline: 6px rgba(0, 0, 0, 0.3) solid;
}

.modal-header.no-form .image-wrapper img {
    width: 220px;
    height: auto;
    object-fit: cover;
    overflow: hidden;
    /* border: 3px white solid; */

}

.modal-header.no-form .messages-wrapper textarea {
    /* border: none; */
    flex-shrink: 1;
    width: 340px;
    height: 200px;
    /* overflow-y: scroll; */
    word-wrap: normal;
}



.modal-header.no-form .close-modal {

    align-self: start;
    margin-top: -20px;
    margin-right: -20px;
}


.modal-header.no-form .add-to-favorities {
    margin-top: 10px;
    font-size: 12px;
}

/* nav-buttons */
.nav-link {
    font-size: 16px;
}

/* About Tab */

.person-about {
    font-size: 16px;
    padding: 20px;
    margin-top: 20px;
}

.person-about p {
    padding: 0 20px 0 20px;
    /* text-indent: 3ch; */
    font-weight: 600;
}


.person-about li {
    margin-top: 20px;
    font-weight: 600;
}

/* Summary Tab */

.person-summary {
    padding: 10px;
    font-size: 15px;
    margin-top: 5px;
    font-weight: 600;
}

.person-summary p {
    border-bottom: 1px solid black;
}

/* Contacts Tab */

.person-contact {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-size: 20px;
    margin-top: 15px;
    font-weight: 600;
}

.person-contact ul {
    margin-top: 50px;
}

.person-contact li {
    list-style: none;
    margin-top: 35px;
}

.person-contact li i {
    color: blue;
    border: 1px black groove;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 255, .2);
    padding: 10px;
}

/* Message && Comment Tab */

.person-message,
.person-comments {
    width: 100%;
    height: auto;
    padding: 20px;
}

.person-message .msgArea,
.person-comments textarea {
    padding: 20px;
    resize: none;
    border: 1px solid rgba(116, 118, 196, 0.8);
    border-radius: 5px;
    transition: 0.3s;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.3);
}

.person-message .msgArea:focus,
.person-comments textarea:focus,
.userInput input:focus {

    outline: lightblue 2px solid;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.3);
}

.person-message-wrapper {
    width: 100%;
    height: auto;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px
}

.person-message-wrapper p,
.person-comments-wrapper p {
    font-weight: 600;
    font-style: italic;
}

.person-message-wrapper .btn,
.person-comments-wrapper .btn {
    padding: 10px 30px 10px 30px;
}

.msgForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

/* comments tab */

.person-comments-wrapper {
    width: 100%;
    height: auto;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px
}

.commentForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px
}

.commentForm textarea {
    height: 150px;
}

.userInput {
    margin-left: -120px;
}

.userInput input {
    margin-left: 20px;
    padding: 3px;
    padding-left: 5px;
    resize: none;
    border: 1px solid rgba(116, 118, 196, 0.8);
    border-radius: 5px;
    transition: 0.3s;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.3);
}




/* Add-to-favorites */

.add-to-favorites {
    margin: 0px;
    padding: 0px
}

.add-to-favorites-btn {
    font-size: 13px;
    padding: 10px 10px 10px 10px;
}

/* message-box */

.message-section.modal-header.with-form .displayMsg {
    width: 390px;
    height: 260px;
    padding-top: 20px;
    /* flex-direction: column; */
    /* text-align: right; */
    /* color: blue; */
    font-size: 14px;
    /* border: 1px solid grey; */
    background-color: rgb(240, 238, 238);
    overflow-Y: auto;
    overflow-x: hidden;
    resize: none;
    padding-bottom: 20px;
    /* direction: rtl; */
}

.message-section.modal-header.with-form .displayMsg ul {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column-reverse;
}

.message-section.modal-header.with-form .displayMsg li {
    /* width: 330px; */
    list-style: none;
    margin-bottom: 10px;

    /* border: 1px solid black; */
    /* margin-right: -130px; */

    /* padding-bottom: 20px; */
    /* line-height: 2.2; */
}


.message-section.modal-header.with-form .displayMsg .userMsg {
    display: flex;
    justify-content: flex-end;
    margin-right: 70px;
}

.message-section.modal-header.with-form .displayMsg .doctorMsg {
    display: flex;
    justify-content: flex-start;

}

.message-section.modal-header.with-form .displayMsg .userText {
    font-weight: 660;
    color: blue;
    margin-right: 5px;
    border: 1px solid black;
    border-radius: 50px;
    padding: 5px 10px 5px 10px;
    display: inline-block;
    background-color: white;
}


.message-section.modal-header.with-form .displayMsg .userName {
    font-size: 14px;
    /* font-style: italic; */
    color: rgb(63, 94, 104);
    margin-right: -60px;
    /* border: 1px solid black; */
    padding: 5px;
    font-weight: 600;
}

.message-section.modal-header.with-form .displayMsg .doctorText {

    text-align: left;
    font-weight: 660;
    color: black;
    margin-left: 10px;
    border: 1px solid black;
    border-radius: 50px;
    padding: 5px 5px 5px 10px;
    display: inline-block;
    background-color: white;

}

.message-section.modal-header.with-form .displayMsg .doctorName {
    font-size: 14px;
    /* font-style: italic; */
    color: rgb(63, 94, 104);
    margin-left: -30px;
    /* border: 1px solid black; */
    padding: 5px;
    font-weight: 600;
    display: inline;
}


/* comments-section */

.comments-section.modal-header.with-form .displayComments {
    width: 390px;
    height: 260px;
    padding-top: 5px;
    /* padding-right: 20px; */
    /* flex-direction: column; */
    /* text-align: right; */
    /* color: blue; */
    font-size: 14px;
    /* border: 1px solid grey; */
    /* background-color: rgb(240, 238, 238); */
    overflow-Y: auto;
    overflow-x: hidden;
    resize: none;
    padding-bottom: 20px;
    /* direction: rtl; */
}

.comments-section.modal-header.with-form .displayComments ul {
    width: 100%;
    height: auto;
    padding-left: 5px;
    display: flex;
    flex-direction: column;
}

.comments-section.modal-header.with-form .displayComments li {
    list-style: none;
    margin-bottom: 10px;
}

.comments-section.modal-header.with-form .displayComments .btn-like {
    font-size: 12px;
    margin-left: 25px;
}

.comments-section.modal-header.with-form .displayComments .btn-like i {
    font-size: 10px;
    transform: translateY(-2px);
    margin-right: -8px;
}

.comments-section.modal-header.with-form .displayComments .btn-dislike {
    font-size: 12px;
}

.comments-section.modal-header.with-form .displayComments .btn-dislike i {
    font-size: 12px;
    transform: translateY(2px);
    margin-right: -8px;
}

.comments-section.modal-header.with-form .displayComments .timeStamp {
    font-size: 12px;
    margin-left: 50px;
}


.comments-section.modal-header.with-form .displayComments .userComment {
    font-weight: 560;
    font-size: 14px;
    font-style: italic;
    color: black;
    margin-left: 25px;
    margin-right: 10px;
    line-height: 1.2;
    text-indent: 3ch;
    padding: 5px 0px 5px 15px;
    display: block;
    background-color: rgb(233, 232, 232);
    border-radius: 10px;
}


.comments-section.modal-header.with-form .displayComments .userName {
    display: block;
    font-size: 14px;
    /* text-decoration: underline; */
    /* font-style: italic; */
    color: rgb(63, 94, 104);
    margin-right: -60px;
    /* border: 1px solid black; */
    padding: 5px;
    font-weight: 600;
}


/* dot animation */
@keyframes blink {
    50% {
        fill: transparent
    }
}

.dot {
    animation: 1s blink infinite;
    fill: grey;
}

.dot:nth-child(2) {
    animation-delay: 250ms
}

.dot:nth-child(3) {
    animation-delay: 500ms
}

.loader {
    background-color: #f1f1f1;

    color: grey;
}