.modal-content {
    width: 600px;
    height: 850px;
    
}

/* Header section */

.modal-header {
    width: auto;
    height: 250px;
    display: flex;
    padding: 30px;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
    border-bottom: none;
    margin-bottom: 30px;
}

.image-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.image-section .person-name {
    width: auto;
    flex-grow: 1;
    font-size: 16px;
    font-weight: bold;
    margin: 0;
    margin-top: 20px;
    text-align: center;

}

.image-section .person-department {
    font-size: 14px;
    font-weight: bold;
    margin: 0;
    margin-top: 10px;
    text-align: center;

}

.image-wrapper {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    overflow: hidden;
    border: 1px white solid;
    outline: 6px rgba(0, 0, 0, 0.3) solid;
}

.image-wrapper img {
    width: 120px;
    height: auto;
    object-fit: cover;
    overflow: hidden;
    /* border: 3px white solid; */

}

.messages-wrapper textarea {
    /* border: none; */
    flex-shrink: 1;
    width: 340px;
    height: 200px;
    /* overflow-y: scroll; */
    word-wrap: normal;
}

.nav-link {
    font-size: 16px;
}

.close-modal{
    display: flex;
    flex-direction: column;
    /* justify-content: space-between;
    align-content: space-between; */
}

.close-modal .btn-close{
    margin-left: -1px;
}

.add-to-favorities{
    margin-top: 10px;
    font-size: 12px;
}

/* About Tab */

.person-about {
    font-size: 16px;
    padding: 20px;
    margin-top: 20px;
}

.person-about p {
    padding: 0 20px 0 20px;
    /* text-indent: 3ch; */
    font-weight: 600;
}


.person-about li {
    margin-top: 20px;
    font-weight: 600;
}

/* Summary Tab */

.person-summary {
    padding: 10px;
    font-size: 16px;
    margin-top: 15px;
    font-weight: 600;
}

.person-summary p {
    border-bottom: 1px solid black;
}

/* Contacts Tab */

.person-contact {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-size: 20px;
    margin-top: 15px;
    font-weight: 600;
}

.person-contact ul {
  margin-top: 50px;
}

.person-contact li {
    list-style: none;
    margin-top: 35px;
}

.person-contact li i {
    color: blue;
    border: 1px black groove;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 255, .2);
    padding: 10px;
}

/* Message Tab */

.person-message, 
.person-comments {
    width: 100%;
    height: auto;
    padding: 20px;
   
}

.person-message-wrapper,
.person-comments-wrapper {
    width: 100%;
    height: auto;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px
}
.person-message-wrapper p,
.person-comments-wrapper p {
    font-weight: 600;
    font-style: italic;
}

.person-message-wrapper .btn,
.person-comments-wrapper .btn{
    padding: 10px 30px 10px 30px;
}

.msgForm,
.commentForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
/* Add-to-favorites */

.add-to-favorites {
    margin: 0px;
    padding: 0px
}
.add-to-favorites-btn{
    font-size: 13px;
    padding: 10px 10px 10px 10px;
}

/* message-box */

.displayMsg {
    width: 350px;
    height: 240px;
    text-align: right;
    color: blue;
    font-size: 14px;
    border: 1px solid grey;
    overflow: auto;
    resize: none;
    /* direction: rtl; */
}

.displayMsg li {
    list-style: none;
}