.feedbackDialog {
    width: 400px !important;
    height: 400px !important;
    top: 20%;
    left: -3%;
}

.feedbackContent {
    width: 600px !important;
    height: 450px !important;
    /* background-color: black; */
    border: 1px solid black;
}

.feedbackFooter {
    display: flex;
    justify-content: space-between;
    margin-top: -20px;
}

.feedbackTitle {
    text-align: center;
    margin-left: 90px;
}

.feedbackTextarea {
    resize: none;
    border: 2px groove rgb(234, 231, 255);
    padding: 5px 5px 5px 10px;
    border-radius: 5px;
}

.feedbackTextarea::placeholder{
    opacity: 0.5;
}

.showChars {
    display: flex;
    justify-content: space-between;
   
}