
/* .registerModal{
    border: 1px solid black;
} */

.registerDialog {
    /* background-color: black; */
    width: 1200px;
}

.register {
    width: 1200px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: space-between;
    /* border: 1px solid black; */
}

.registerHeader {
    /* border-bottom: none;
    padding-left: 30px;
    margin-top: -40px; */
}

.registerForm {
padding: 30px;
    /* margin-top: -200px; */
    /* 
    display: flex;
    flex-direction: column;
    gap: 30px */
}

.registerWrapper{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}

.registerLeftSide{
    
}


.formInputs {
    /* display: flex;
    gap: 30px; */
}


.emailInput {
    /* margin-left: 30px; */
}

.btnRegister {
    /* margin-top: 10px; */
    margin-bottom: -60px;
    /* padding-bottom: 0px; */
    width: 200px;
    text-align: center;
    align-self: center;
}

.emailError {
    display: inline-block;
    position: absolute;
    color: red;
    margin: 0;
    padding: 0;
    font-size: 0.8rem;
}

.passwordError {
    display: inline-block;
    position: absolute;
    color: red;
    margin: 0;
    padding: 0;
    font-size: 0.8rem;
}

.confirmError {
    display: inline-block;
    position: absolute;
    color: red;
    margin: 0;
    padding: 0;
    font-size: 0.8rem;
}