/* .registerModal{
    border: 1px solid black;
} */

.registerDialog {
    /* background-color: black; */
    width: 600px;
}

.register {
    width: 800px;
    height: 660px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: space-between;
    /* border: 1px solid black; */
}

.registerHeader {
    border-bottom: none;
    /* padding-left: 30px; */
    /* margin-top: -40px; */
    /* padding-top: 20px; */
    margin-top: 15px;
    z-index: 1000;
}

.registerForm {
    padding: 30px;
    /* margin-top: -200px; */

    display: flex;
    flex-direction: column;
    gap: 40px;
   /* padding-left: 30px; */
   margin-left: 35px;
}

.registerWrapper {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    /* gap: 20px; */
    flex-wrap: wrap;
    
}

.registerLeftSide {
    width: 45%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.registerRightSide {
    width: 45%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.registerRightSIdeInfo {
    width: 100%;
    height: auto;
    display: flex;
    gap: 20px;
    /* border: 1px solid black; */
}

.registerBottom {
    width: 100%;
    height: auto;
    display: flex;
    border: 1px solid black;
    flex-direction: row;
    gap: 20px;
    /* flex-wrap: wrap; */
}

.registerPassword {
    width: 45%;
    display: inline-block;
}

.registerRePassword {
    width: 45%;
    display: inline-block;
}



.btnRegister {
    /* margin-top: 10px; */
    margin-bottom: -60px;
    /* padding-bottom: 0px; */
    margin-left: -60px;
    width: 200px;
    text-align: center;
    align-self: center;
}

.emailError {
    display: inline-block;
    position: absolute;
    color: red;
    margin: 0;
    padding: 0;
    font-size: 0.8rem;
}

.passwordError {
    display: inline-block;
    position: absolute;
    color: red;
    margin: 0;
    padding: 0;
    font-size: 0.8rem;
}

.confirmError {
    display: inline-block;
    position: absolute;
    color: red;
    margin: 0;
    padding: 0;
    font-size: 0.8rem;
}